.MLHHeader {
  padding: 20px;
  border-bottom: 2px solid #888;
  background-image: url("../../assets/images/backgrounds/best.jpg");
  
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.logo {
  margin: 0 auto;
  width: 250px;
}

@media only screen and (max-width: 350px) {
  .logo {
    width: 200px;
  }
}
